@model AfsluttendeProjekt.Models.JobModelView

<div class="container">
    <div class="column">
        <h5 id="JobDesc">@Html.DisplayFor(model => model.description)</h5>
    </div>
    <div class="column">
        <h2 id="JobCount"> @Html.DisplayFor(model => model.count) </h2>
    </div>
</div>



