@model AfsluttendeProjekt.Models.ItemModelView


<div class="container">
    <div class="column">
        <h5 id="ItemDesc"> @Html.DisplayFor(model => model.description)</h5>
    </div>
    <div class="column">
        <h2 id="ItemCount">@Html.DisplayFor(model => model.count) </h2>
    </div>
</div>




